.company-dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Dimming the background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-dialog-box {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust width to fit content better */
  max-width: 400px; /* Ensures the dialog box is not too wide */
}

.company-btn {
  font-size: 24px; 
  background-color: #fbf2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0; /* Space between buttons */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%; /* Full width buttons */
  text-align: left; /* Align text to the left */
}

.company-btn:hover {
  background-color: #e0e0e0;
  transform: scale(1.05); /* Slight scale to give feedback on hover */
}

.close-btn {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #0056b3;
}