.city-details-dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1060; /* Ensure it is on top of other content */
  }
  
  .city-details-dialog-box {
    background-color: rgb(237, 151, 12);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .city-details-dialog-box h2 {
    margin-bottom: 20px;
  }
  
  .city-details-dialog-box button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .city-details-dialog-box button:hover {
    background-color: #0056b3;
  }
  
  /* Additional styles for form elements */
.select, .input, input[type="number"], select {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: calc(100% - 16px); /* Adjust width */
    box-sizing: border-box; /* Includes padding and border in element's width/height */
  }
  
  .form-buttons button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-buttons button:hover {
    background-color: #0056b3;
  }
  
